<div [ngClass]="alert" class="alert" role="alert">
  <strong>bbcita</strong>
</div>

<button type="button" class="btn btn-primary" (click)="alert = 'alert-info'">Primary</button>
<button type="button" class="btn btn-success" (click)="alert = 'alert-success'">Success</button>

<br><br>

<h3 [ngClass]="{'text-danger':propiedades.danger}">Hola Mundo</h3>

<button [ngClass]="{'btn-danger': propiedades.danger}" (click)="propiedades.danger = !propiedades.danger" type="button" class="btn btn-danger">
  Cambiar
</button>

<br><br>

<h3>Proceso Asincrono</h3>

<button [disabled]="loading" (click)="ejecutar()" class="btn btn-primary" type="button">

    <i [ngClass]="{'fa-save': !loading, 'fa-refresh fa-spin': loading}" class="fa"></i>
    <span *ngIf="!loading" >Guardar Cambios</span>
    <span *ngIf="loading" >Espere Por Favor...</span>
</button>
